<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>choiceprice</name>
	<displayName><![CDATA[masyanov]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[выбор ценового диапазона ]]></description>
	<author><![CDATA[mas]]></author>
	<tab><![CDATA[pricing_promotion]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
